# Default environment variables for docker-compose
# cp env.template .env
MYSQL_DEFAULT_DEV_VERSION=5.7
MYSQL_DEFAULT_DEV_PORT=3306
MYSQL56_PORT=33006
MYSQL57_PORT=33007
MYSQL8_PORT=33008

# Default user id to use when running the tests
USER_ID=1000
